<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Calculator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="../static/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/resume.css" rel="stylesheet">

    <script>
    var inputBox = document.getElementsByClassName("input-area");
    function addGreenBorder(inputBox) {
        inputBox.classList.add("green-border");
    }
    function removeGreenBorder(inputBox) {
        inputBox.classList.remove("green-border");
    }
    inputBox.addEventListener("mouseover", addGreenBorder());
    inputBox.addEventListener("mouseout", removeGreenBorder());
    </script>

  </head>

  <body id="page-top">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-none d-lg-block">
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/img/calculator.jpg" alt="">
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#kinematics">Kinematics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#quadratics">Quadratics</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid p-0">

          <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
            <div class="my-auto">
                <h1 class="mb-0">Calculator
              </h1>
              <div class="subheading mb-5"><a class="js-scroll-trigger" href="#kinematics">Kinematics</a> · <a class="js-scroll-trigger" href="#quadratics">Quadratics</a>
              </div>

            </div>
          </section>

        <section class="resume-section p-3 p-lg-5 flex-column" id="kinematics">
        <div class="container">
            <div class="my-auto">
              <h2 class="mb-5">Kinematics</h2>
              <p>enter known values; leave unknown values blank</p>
            </div>
            <div class="row">
            <div class="col">

            <div>
                <form action="{{ url_for('process_inputsK') }}" method="post">
                    <div class="input-box-container">
                        <div class="input-box">
                            <label for="input-area">&Delta;x</label>
                            <input class="input-area" type="number" step="any" name="kInput_displacement"  id="kInput_displacement" onmouseover="addGreenBorder(this)" onmouseout="removeGreenBorder(this)" placeholder="displacement (m)">
                        </div>
                        <div class="input-box">
                            <label for="input-area">v<sub>0</sub></label>
                            <input class="input-area" type="number" step="any" name="kInput_vNaught"  id="kInput_vNaught" onmouseover="addGreenBorder(this)" onmouseout="removeGreenBorder(this)" placeholder="initial velocity (m/s)">
                        </div>
                        <div class="input-box">
                            <label for="input-area">v</label>
                            <input class="input-area" type="number" step="any" name="kInput_v"  id="kInput_v" onmouseover="addGreenBorder(this)" onmouseout="removeGreenBorder(this)" placeholder="final velocity (m/s)">
                        </div>
                        <div class="input-box">
                            <label for="input-area">a</label>
                            <input class="input-area" type="number" step="any" name="kInput_a"  id="kInput_a" onmouseover="addGreenBorder(this)" onmouseout="removeGreenBorder(this)" placeholder="acceleration (m/s²)">
                        </div>
                        <div class="input-box">
                            <label for="input-area">t</label>
                            <input class="input-area" type="number" step="any" name="kInput_t"  id="kInput_t" onmouseover="addGreenBorder(this)" onmouseout="removeGreenBorder(this)" placeholder="time (s)">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div>
              {% if input_data %} {{ input_data }} {% endif %}
              <br />
              {% if output %} {{ output|safe }} {% endif %}
            </div>
            </div>
            <div class="col"><img src="https://cdn.kastatic.org/googleusercontent/BO82YZEm2LGnHiU5RcqaKRltWAkf4MTXv-QcUCe09uVP2h-2FSWaYTzTtEHxhD2-sehTRstmwW1MdPpTI5aIKC4" display="block" margin-left="auto" margin-right="auto" align="middle"></div>
            </div>
            </div>
            </div>
          </section>
        </div>
        </div>
        <section class="resume-section p-3 p-lg-5 flex-column" id="quadratics">
            <div class="my-auto">
              <h2 class="mb-5">Quadratics</h2>
            </div>

            <div>
                <p>enter coefficients of quadratic formula ax²+bx+c</p>
                <form action="{{ url_for('process_inputsQ') }}" method="post">
                    <div class="input-box-container">
                        <div class="input-box">
                            <label for="input-area">a</label>
                            <input class="input-area" type="number" step="any" name="qInput_a"  id="qInput_a"  onmouseover="addGreenBorder(this)" onmouseout="removeGreenBorder(this)"required>
                        </div>
                        <div class="input-box">
                            <label for="input-area">b</label>
                            <input class="input-area" type="number" step="any" name="qInput_b"  id="qInput_b"  onmouseover="addGreenBorder(this)" onmouseout="removeGreenBorder(this)"required>
                        </div>
                        <div class="input-box">
                            <label for="input-area">c</label>
                            <input class="input-area" type="number" step="any" name="qInput_c"  id="qInput_c"  onmouseover="addGreenBorder(this)" onmouseout="removeGreenBorder(this)"required>
                            <!--<input class="input-area" type="hidden" step="any" name="formID"  id="formID" value="quadratics">-->
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        <div>
          {% if input_data %} {{ input_data }} {% endif %}
          <br />
          {% if output2 %} {{ output2|safe }} {% endif %}
        </div>
        </section>
        </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/resume.min.js"></script>
    {% if scroll %}
    <script>
        document.getElementById("{{ scroll }}").scrollIntoView();
    </script>
    {% endif %}
  </body>

</html>
